a {
  color: black;
}

table {
  width: 80%;
}

.property_place {
  width: 12%;
}
.property_comment {
  width: 69%;
}

.property_name, .property_rent {
  width: 5%;
}
.property_old {
  width: 3%;
}
.property_links {
  width:2%;
}
