a {
  color: black;
}

h2 {
  font-size: 1.2rem;
}

ul {
  list-style: none;
}

table {
  width: 80%;
}

.property_place {
  width: 12%;
}

.property_comment {
  width: 68%;
}

.property_name {
  width:6%;
}

.property_rent {
  width: 5%;
}

.property_old {
  width: 3%;
}

.property_links {
  width:2%;
}

.show_property {
  padding: 20px;
  line-height: 3rem;
  border-bottom: solid 1px gray;
}
.show_station {
  padding: 20px;
  line-height: 3rem;
}

.show_item {
  font-weight: bold;
}

.property_form {
  border-bottom: solid 1px gray;
}
